* {
  margin: 0;
  padding: 0;
}

body {
  background: #006401;
}

h1 {
  font-size: 125px;
  font-family: 'saxMono', sans-serif;
}

h2,
label {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

a,
p,
div,
textarea {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #f8602c;
}

a:hover,
a:active,
a:focus {
  color: #ff875f;
}

.btn-main,
.btn-cancel {
  font-size: 30px;
  margin: 10px;
  padding: 10px 40px;
  border-radius: 20px;
  font-family: 'saxMono', sans-serif;
}

.btn-main {
  color: #fff;
  border: 5px solid #4d821a;
  background: #6ea53b;
}

.btn-main:hover {
  border: 5px solid #528523;
  background: #77aa47;
  cursor: pointer;
}

.btn-cancel {
  color: #565456;
  border: 5px solid #393939;
  background: #303030;
}

.btn-cancel:hover {
  color: #6e6d6e;
  border: 5px solid #5a5a5a;
  background: #414141;
  cursor: pointer;
}

.container {
  width: 90%;
  color: #fff;
  margin: 60px 5% 20px 5%;
}

.w-1 {
  max-width: 85px !important;
}

/* ====================
 * HEADER
 * ==================== */
.welcome {
  text-align: center;
}

.welcome .fcc-logo {
  height: 75px;
}

.description {
  margin: 20px 0;
}

/* ====================
 * MAIN
 * ==================== */
main.container {
  width: 80%;
  margin: 60px auto;
  margin-bottom: 20px;
  display: none;
}

main .title {
  margin-bottom: 50px;
}

main .fcc-logo {
  height: 50px;
}

main h1 {
  font-size: 80px;
  padding-left: 5px;
  margin-bottom: 20px;
}

main p {
  padding-left: 10px;
}

.sub-text {
  font-family: 'saxMono', sans-serif;
  margin-top: 0;
}

/* FORM */
.form-set {
  margin-bottom: 50px;
}

.form-set-title {
  padding: 5px 20px;
  border-left: 3px solid #fff;
  border-radius: 3px;
}

.form-group {
  margin: 30px 50px 30px 100px;
  color: #d4d4d4;
}

.form-group label {
  display: block;
  font-size: 30px;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='number'] {
  all: unset;
  display: block;
  margin: 10px 45px;
  font-size: 30px;
  border-bottom: 1px solid #d4d4d4;
}

input[type='number'] {
  -moz-appearance: textfield !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.iselect {
  display: block;
  font-size: 30px;
  padding: 5px 10px;
  margin: 10px 45px;
  color: #d4d4d4;
  background: #4d821a;
  border: 5px solid #6ea53b;
  border-radius: 10px;
}

.form-group.active {
  margin: 80px 20px 80px 100px;
}

.form-group.active label:not(.lsradio):not(.lscheckbox) {
  color: #f6b8fb;
  font-size: 40px;
}

.form-group.active label.lsradio {
  font-size: 20px;
  padding: 10px 15px;
}

.form-group.active input:not(.sradio-i):not(.checkbox-i) {
  color: #f6b8fb;
  font-size: 40px;
  margin-top: 30px;
  border-bottom: 3px dashed #f6b8fb;
}

.form-group.active .sradio-i {
  width: 50px;
  height: 50px;
  border-width: 5px;
}

.radio-group {
  margin: 30px 50px;
}

.iradio {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  color: #434343;
  background: #b1b1b1;
  border: 3px solid #707070;
  border-radius: 15px;
}

.iradio label {
  font-size: 20px;
}

.iradio input {
  display: none;
}

.sradio {
  margin: 10px;
}

.sradio label {
  display: inline-block;
  font-size: 20px;
}

.sradio-i {
  width: 25px;
  height: 25px;
  color: #434343;
  background: #b1b1b1;
  border: 3px solid #707070;
  border-radius: 100%;
  appearance: none;
  -webkit-appearance: none;
  -mozilla-appearance: none;
  vertical-align: text-bottom;
}

.iradio.active,
.sradio.active input {
  color: #242424;
  background: #f5a4d7;
  border: 3px solid #d266aa;
}

.checkbox-group {
  margin: 50px 0 30px 50px;
  padding: 30px 50px;
  background: #4d821a;
  border: 5px solid #6ea53b;
  border-radius: 20px;
}

.scheckbox {
  margin: 20px 0;
}

.scheckbox input {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  color: #434343;
  background: #b1b1b1;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -mozilla-appearance: none;
  vertical-align: text-bottom;
}

.scheckbox input:checked {
  background: #f5a4d7;
}

label.lscheckbox {
  display: inline-block;
  font-size: 25px;
}

#comments {
  margin-top: 20px;
  margin-left: 50px;
  width: 100%;
  padding: 10px;
  color: #d4d4d4;
  font-size: 20px;
  background: #4d821a;
  border: 5px solid #6ea53b;
  border-radius: 20px;
}

.button-group {
  margin-left: 90px;
}

.button-group > div {
  display: inline-block;
  vertical-align: text-top;
}

.button-group .sub-text {
  text-align: center;
}

/* ====================
 * FOOTER
 * ==================== */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}

.footer.author {
  text-align: left;
}

.footer.link {
  text-align: right;
}

/* ====================
 * RESPONSIVE DESIGN
 * ==================== */

/* Medium devices (landscape tablets, 1100px and down) */
@media only screen and (max-width: 1100px) {
  /* ==========================
     * FORM
     * ========================== */

  label.lscheckbox {
    font-size: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 900px and down) */
@media only screen and (max-width: 900px) {
  .container {
    color: #fff;
    margin: 60px auto;
  }

  .btn-main,
  .btn-cancel {
    font-size: 20px;
    margin: 8px;
    padding: 8px 30px;
    border-radius: 20px;
  }

  /* ==========================
     * HEADER
     * ========================== */
  .welcome {
    padding-top: 50px;
  }

  .welcome .fcc-logo {
    max-height: 50px;
  }

  .welcome h1 {
    font-size: 80px;
  }

  .welcome .description {
    font-size: 13px;
  }

  .welcome .sub-text {
    font-size: 10px;
  }

  /* ==========================
     * FORM
     * ========================== */
  .checkbox-group {
    padding: 20px;
  }
}

/* Extra small devices (phones, 760px and down) */
@media only screen and (max-width: 760px) {
  label:not(.lscheckbox-min),
  input {
    font-size: 14px !important;
  }

  .container:not(header) {
    color: #fff;
    margin: 20px 10px;
  }

  /* ==========================
     * MAIN
     * ========================== */
  main .title .fcc-logo {
    max-height: 30px;
  }

  main .title h1 {
    font-size: 40px;
  }

  main .title .description {
    font-size: 13px;
  }

  main .title .sub-text {
    font-size: 10px;
  }

  /* ==========================
     * FORM
     * ========================== */
  .form-set-title {
    font-size: 30px;
  }
  .form-group,
  .form-group.active {
    margin: 15px;
  }

  .form-group input:not(.sradio-i):not(.checkbox-i) {
    margin: 10px 0 !important;
  }

  .form-group.active label.lsradio {
    padding: 5px 10px;
  }

  .iselect {
    font-size: 12px;
    padding: 3px 5px;
    margin: 10px 15px;
    color: #d4d4d4;
    background: #4d821a;
    border: 3px solid #6ea53b;
    border-radius: 10px;
  }

  .form-group .sradio-i,
  .form-group.active .sradio-i {
    width: 20px;
    height: 20px;
    border-width: 2px;
  }

  .iradio {
    margin: 5px;
    padding: 5px 10px;
  }

  .radio-group {
    margin: 10px 20px;
  }

  .checkbox-group {
    margin: 10px;
  }

  .scheckbox,
  #comments {
    margin: 5px 10px;
  }

  .scheckbox input {
    height: 20px;
    width: 20px;
  }

  label.lscheckbox {
    font-size: 13px;
  }

  label.lscheckbox-min {
    font-size: 10px;
  }

  #comments {
    font-size: 13px;
  }

  form > .button-group {
    margin: 0;
    margin-top: -40px;
  }

  /* ==========================
     * FOOTER
     * ========================== */

  footer {
    grid-template-columns: 1fr;
  }

  .footer.author,
  .footer.link {
    text-align: center;
  }
}

/* Super Extra small devices (phones, 300px and down) */
@media only screen and (max-width: 420px) {
  /* ==========================
     * HEADER
     * ========================== */
  .welcome {
    padding-top: 50px;
  }

  .welcome .fcc-logo {
    max-height: 30px;
  }

  .welcome h1 {
    font-size: 50px;
  }

  .welcome .description {
    font-size: 13px;
  }

  .welcome .sub-text {
    font-size: 10px;
  }

  /* ==========================
     * FOOTER
     * ========================== */

  footer {
    font-size: 13px;
  }
}

@media only screen and (orientation: portrait) and (min-height: 700px) and (max-height: 400px) {
  header {
    padding-top: 120px !important;
  }
}

/* Landscape Mobile Devices
 * ===========================*/
@media only screen and (orientation: landscape) and (max-height: 349px) {
  /* ==========================
     * HEADER
     * ========================== */
  .welcome {
    margin-top: 10px;
    padding-top: 20px;
  }

  .welcome .fcc-logo {
    max-height: 30px;
  }

  .welcome h1 {
    font-size: 50px;
  }

  .welcome .description {
    font-size: 13px;
  }

  .welcome .sub-text {
    font-size: 10px;
  }

  .btn-main,
  .btn-cancel {
    font-size: 15px;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 20px;
  }

  /* ==========================
     * HEADER
     * ========================== */
  footer {
    font-size: 10px;
  }
}

@media only screen and (orientation: landscape) and (min-height: 350px) and (max-height: 419px) {
  /* ==========================
     * HEADER
     * ========================== */
  .welcome {
    margin-top: 10px;
    padding-top: 20px;
  }
}

@media only screen and (orientation: landscape) and (min-height: 420px) {
  /* ==========================
     * HEADER
     * ========================== */
  .welcome {
    margin-top: 100px;
    padding-top: 50px;
  }

  .welcome .fcc-logo {
    max-height: 150px;
  }

  .welcome h1 {
    font-size: 100px;
  }

  .welcome .description {
    font-size: 20px;
  }

  .welcome .sub-text {
    font-size: 15px;
  }
}
